// Header
// -------------------------

.skip-link {
    display: none;
}

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: $screen-md;
    margin: 0 auto;
    padding: $spacing/2;
    &:after{
        content:'';
        position: absolute;
        bottom: 0; left: $spacing/2; right: $spacing/2;
        border-bottom: 1px solid $black;
    }
    background-image: linear-gradient(rgba(242,242,242,0), rgba(242,242,242,0));
    z-index: 100;
    &:before {
        border-radius: inherit;
        background-image: linear-gradient(rgba(242,242,242,1), rgba(242,242,242,0.2));
        content: '';    
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        z-index: -100;
        transition: opacity 0.45s;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.site-title {
    .logo {
        display: block;
        width: 44px; height: 44px;
        background-color: $midBg;
    }
}

#primary-menu {
    margin: 0;
    li {
        display: inline-block;
        margin: 0;
        margin-right: $spacing;
        &:last-child {
            margin-right: 0;
        }
        a {
            font-family: $body;
            font-weight: $heavyWeight;
            text-decoration: none;
            color: $text;
        }
    }
}


// -----------
// HERO
// -----------

.hero {
    height: 484px;
    &-title {
        max-width: $screen-md;
        margin: 0 auto;
        &-content {
            display: inline-block;
            padding: 0 $spacing/2;
            background-color: $bg;
            border-radius: 1px;
            h1 {
                text-transform: capitalize;
                line-height: 1em;
            }
        }
        &-cta {
            position: absolute;
            margin: $spacing 0;
        }
        z-index: 10;
    }
    &-img {
        position: absolute;
        width: 100%; height: 400px;
        background-color: $lightBg;
        background-size: cover;
        background-position: center center;
        transform: translateY(-70px);
        z-index: -1;
    }
}


