// Main
// -------------------------

body {
    background-color: $bg;
}

.entry-content {
    max-width: $screen-xs;
    margin: $spacing*2 auto;
    text-align: center;
}


// ABOUT

.about {
    max-width: $screen-md;
    margin: $spacing*3 auto;
    &-heading {
        padding: 0 $spacing/2;
    }
    &-inner {
        position: relative;
    }
    &-body {
        max-width: $screen-sm;
        margin: 0 auto;
        padding: 0 $spacing*2;
        @include bigger($screen-sm) {
            column-count: 2;
            column-gap: $spacing;
        }
    }
    &-tag {
        @include bigger($screen-md) {
            position:absolute;
            right: $spacing/2; top: 0;
        }
        ul {
            li {
                margin: 0;
                @include smaller($screen-md) {
                    display: inline-block;
                    margin: 0 $spacing/2;
                }
                list-style: none;
                font-family: $body, sans-serif;
                font-weight: $heavyWeight;
                color: $black;
                line-height: 2.5em;
            }
        }
    }
}

// TIMELINE

.timeline {
    background-color: $lightBg;
    &-heading {
        display: flex;
        justify-content: space-between;
        max-width: $screen-md;
        margin: 0 auto;
        padding: $spacing $spacing/2 0 $spacing/2;
    }
    &-bar {
        padding: 0 0 $spacing/2 $spacing/2;
        @include bigger($screen-sm) {
            position: relative;
            padding: 0 0 $spacing/2 0;
            &:before {
                content:'';
                position: absolute;
                width: 0%; height: 1px;
                top: 2.45em;
                left: 0;
                margin: 0 $spacing/2 0 0;
                @include bigger($screen-md){margin: 0 $spacing 0 0;}
                background-color: $black;
                animation: width-expand 1s $ease 800ms 1 forwards;
            }
        }
        &-item {
            position: relative;
            p {
                padding: 0 0 0 $spacing;
                color: $black;
                font-weight: $heavyWeight;
                span {
                    display: block;
                    font-size: 0.66em;
                    color: lighten($text, 35%);
                    font-weight: $midWeight;
                }
            }
            &:before {
                content:'';
                position: absolute;
                bottom: 8px;
                width: 15px; height: 15px;
                border: 1px solid $black;
                border-radius: 50%;
                background-color: $lightBg;
                opacity: 0;
                animation: scale-in 1000ms $ease 1.5s  1 forwards;
            }
            p {
                opacity: 0;
                animation: slide-in 500ms $ease 1.5s 1 forwards;
            }
            
        }
        @for $i from 1 to 10 {
            div:nth-child(#{$i}) { 
                p {
                    animation-delay: $i * 0.25s + 1.5s;
                }
                &:before {
                    animation-delay: $i * 0.25s + 0.75s;
                }
            }
        }
        @include bigger($screen-sm) {
            display: flex;
            justify-content: space-around;
            &-item {
                p {
                    padding: 0;
                    span {
                        margin-bottom: $spacing;
                    }
                }
                &:before {
                    top: 2em;
                }
            }
        }
    }
}

.tl-complete:before {
    background-color: $black;
}


// Gallery

.gallery {
    width: 100%;
    background-color: $black;
    &-cell {
        margin: 0 auto;
        width: 70%; height: 40vw;
        background-size: cover;
        background-position: center center;
        transition: opacity 600ms 300ms $ease;
        &:not(.is-selected) {
            opacity: 0.2;
            transition: opacity 400ms $ease;
        }
    }
}


// CTA

.cta {
    max-width: $screen-md;
    margin: 0 auto;
    padding: $spacing 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include bigger($screen-xs) {
        flex-direction: row;
    }
    &-callout {
        padding: 0 $spacing/2;
    }
    &-action {
        @include bigger($screen-xs) {
            margin: 0 $spacing/2;
        }
    }
}







